* {
  /* -------------------- ð¨ Customization ð¨ -------------------- */
  --tab-corner-rounding: 5px;
  --button-corner-rounding: 4px;
  --menu-corner-rounding: 5px;
  --menu-item-height: 30px;
  --animation-speed: 0.15s;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@keyframes scale-in {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes scale-out {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

/* hide address bar icons unless focus */

.urlbar-icon, #userContext-indicator, #userContext-label {
  fill: transparent !important;
  background-color: transparent !important;
  color: transparent !important;
  transition: var(--animation-speed) !important;
}

#urlbar:hover .urlbar-icon, #urlbar:active .urlbar-icon, #urlbar[focused] .urlbar-icon {
  fill: var(--toolbar-color) !important;
}

#urlbar:hover #userContext-indicator, #urlbar:active #userContext-indicator, #urlbar[focused] #userContext-indicator, #urlbar:hover #userContext-label, #urlbar:active #userContext-label, #urlbar[focused] #userContext-label {
  color: var(--identity-tab-color) !important;
  fill: var(--identity-tab-color) !important;
}

.urlbar-page-action[open] {
  background-color: var(--toolbarbutton-active-background) !important;
  fill: var(--toolbar-color) !important;
}

.urlbar-page-action[open]:hover {
  background-color: var(--toolbarbutton-active-background) !important;
  fill: var(--toolbar-color) !important;
}

.urlbar-page-action[open] .urlbar-icon {
  fill: var(--toolbar-color) !important;
}

/*buttons to the left
  #TabsToolbar, #toolbar-menubar, .titlebar-buttonbox{ -moz-box-direction: reverse }*/

.titlebar-spacer[type="post-tabs"] {
  display: none
}

.titlebar-spacer[type="pre-tabs"] {
  border-inline-end: 0px solid white !important;
  width: 7px !important;
}

.browserContainer {
  position: relative;
}

/* Remove borders everywhere, some code copied from edge style for firefox */

@-moz-document url(chrome://browser/content/browser.xhtml) {
  #urlbar[breakout][breakout-extend]>#urlbar-input-container, #urlbar-input-container {
    height: var(--urlbar-height) !important;
    padding-block: 0px !important;
    padding-inline: 0px !important;
    transition: none !important;
    border-radius: var(--toolbarbutton-border-radius) !important;
  }
  #urlbar[breakout][breakout-extend] {
    top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
    left: 0 !important;
    width: 100% !important;
  }
  #urlbar[breakout][breakout-extend]>#urlbar-background {
    box-shadow: 0 1px 4px rgba(0, 0, 0, .05) !important;
  }
  #urlbar[breakout][breakout-extend]>#urlbar-input-container {
    border: 1px solid var(--toolbar-field-focus-border-color) !important;
  }
  #urlbar[breakout][breakout-extend][open]>#urlbar-input-container {
    border-bottom: 1px solid transparent !important;
    border-radius: var(--toolbarbutton-border-radius) var(--toolbarbutton-border-radius) 0 0 !important;
  }
  #nav-bar {
    border: none !important;
    margin-top: 0px !important;
    border-top: 0px !important;
    --toolbar-field-focus-border-color: #fff;
  }
}

/* #urlbar-background {box-shadow: inset 0 0 1px 1px #E5E5E5 !important;}*/

#urlbar-background {
  box-shadow: none !important;
}

/* #searchbar {box-shadow: inset 0 0 1px 1px #E5E5E5 !important;} */

#searchbar {
  box-shadow: none !important;
}

/*  */

#urlbar #urlbar-background, #searchbar {
  border: none !important;
}

:root {
  --tabs-border: transparent !important;
  --tab-min-height: 27px !important;
}

#TabsToolbar {
  height: 27px !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
  color: rgb(27, 27, 27) !important;
  border-left: none !important;
}

#searchbar {
  border: none !important;
  box-shadow: none !important;
}

#urlbar {
  border: none !important;
  box-shadow: none !important;
}

#nav-bar {
  border: none !important;
  margin-top: 0px !important;
  border-top: 0px !important;
  box-shadow: none !important;
  height: 32px !important;
}

/*
 *
 * TABS
 *
*/

.tab-text {
  color: rgb(206, 206, 206) !important;
}

.tab-content[selected] label {
  color: rgb(27, 27, 27) !important;
}

/* Wide tabs */

/* .tabbrowser-tab[fadein="true"]:not([pinned]) {
    max-width: 1900px !important;
} */

/* Italic and dimmed unloaded tabs */

.tabbrowser-tab[pending] {
  font-style: italic;
}

toolbarspring {
  min-width: 8px;
  max-width: 8px;
}

/* Only show close buttons on background tabs when hovering with the mouse */

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/* invert github icon when it background tab */

.tabbrowser-tab:not([selected]) .tab-icon-image[src^="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ"] {
  filter: invert(1.0) !important;
}

/* Container color as tab background */

.tabbrowser-tab:not([selected])[usercontextid] .tab-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0), var(--identity-tab-color)) !important;
  /* background: var(--identity-tab-color) !important; */
  opacity: 0.4 !important;
}

/* FOR PROTON UI */

/* editing the tabs to return quantum feel */

@media (-moz-proton) {
  /* Tab - Max Size */
  /* .tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"])
  {
    max-width: 240px !important;
  } */
  /* Tab - Connect to window */
  .tab-background {
    border-radius: 0px 0px 0px 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .tab-content {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .tab-stack {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  /* adds the little colored strip on top of the selected tab */
  .tabbrowser-tab[selected] .tab-context-line {
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    height: 2px !important;
    background-color: #00bcd4 !important;
    border-bottom: 2px solid var(--identity-icon-color);
  }
  /** Container Tab - Color line at icon's bottom *****************************/
  /*   .tab-icon-image {
    box-sizing: content-box;
    padding: 3px 0;

    border-bottom: 2px solid var(--identity-icon-color);
  } */
  /* neighbouring tabs should "pinch" together */
  .tabbrowser-tab {
    padding-inline: 0px !important;
  }
  /** PictureInPicture Tab - Show PIP Icon ************************************/
  .tab-icon-sound[pictureinpicture]:not([pinned]) {
    /* Shape */
    display: -moz-inline-box !important;
    width: 14px;
    height: 14px;
    -moz-box-ordinal-group: 2 !important;
    /* Color */
    fill: rgb(255, 77, 77);
    opacity: 0.8;
    -moz-context-properties: fill;
    /* Icon */
    list-style-image: url(chrome://global/skin/media/picture-in-picture-open.svg);
  }
  .tab-icon-sound[pictureinpicture]:not([pinned])[selected] {
    opacity: 0.95;
  }
  /** Pinned Tab - Replace Favicon to Close Button at Selected ****************/
  .tabbrowser-tab[pinned][visuallyselected]:not([busy]) .tab-close-button {
    display: -moz-box !important;
    -moz-box-ordinal-group: 0 !important;
    transform: translateX(-2px);
    /* Looks like hover */
    width: 22px !important;
    height: 22px !important;
    padding: 5px !important;
  }
  .tabbrowser-tab[pinned][visuallyselected] .tab-icon-image {
    display: none !important;
  }
  /** Sound Tab - Show with Favicons ******************************************/
  /* Makes the favicons always visible (also on hover) */
  .tab-icon-image:not([pinned]) {
    opacity: 1 !important;
  }
  /* Makes the speaker icon to always appear if the tab is playing (not only on hover) */
  .tab-icon-overlay:not([crashed]), .tab-icon-overlay[pinned][crashed][selected] {
    /* Position */
    top: -3.5px !important;
    inset-inline-end: -9px !important;
    z-index: 1 !important;
    /* Shape */
    padding: 1.5px !important;
    border-radius: 10px !important;
    width: 17px !important;
    height: 17px !important;
  }
  .tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
    color: rgb(255, 77, 77) !important;
    stroke: transparent !important;
    background: transparent !important;
    fill-opacity: 0.8 !important;
    opacity: 1 !important;
  }
  .tab-icon-overlay:not([sharing], [crashed]):is([soundplaying]) {
    animation: thump .47s linear infinite;
  }
  @keyframes thump {
    10%, 90% {
      margin-top: 4px;
    }
  }
  .tab-icon-overlay:not([pinned], [sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked]) {
    margin-inline-end: 9.5px !important;
  }
  /* None exist favicon */
  .tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
    top: 0 !important;
    inset-inline-end: 0 !important;
    margin-inline-end: 5.5px !important;
    padding: 2px 0 !important;
  }
  /* Busy - Show */
  .tab-throbber[busy], .tab-icon-pending[busy] {
    opacity: 1 !important;
  }
  /* Busy - Overlay Position */
  .tabbrowser-tab:not([pinned])[busy] .tab-icon-overlay:is([soundplaying], [muted], [activemedia-blocked]) {
    transform: translateX(-.5px) translateY(-2.5px);
  }
  .tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed])[busy] {
    top: -3.5px !important;
    inset-inline-end: -9px !important;
    margin-inline-end: 9.5px !important;
    padding: 1.5px !important;
  }
}

/* rounded corners for menus */

@-moz-document url-prefix(chrome: //browser/content/){
.panel-arrowcontent, #alltabs-popup .arrowscrollbox-scrollbox, menupopup:not(#BMB_bookmarksPopup), .textbox-contextmenu {
  border-radius: 5px !important;
}

}

/** URL Bar - Reduce Padding ************************************************/

:root:not([uidensity=touch]) #urlbar-container, #search-container {
  padding-block: 2px;
  /* Original: 4px */
  margin-inline: 5px;
  /* Original: 5px */
}

/* spread menu */

:root[uidensity=compact] .urlbarView-row:not([type=tip], [type=dynamic]) {
  padding-block: 2px;
  /* [Compact, General]: 2px, Touch: 11px */
}

:root[uidensity=compact] #urlbar .search-one-offs:not([hidden]) {
  padding-block: 2px;
  /* [Compact, General]: 4px, Touch 11px */
}

/** BookMark Bar - Reduce Height ********************************************/

:root[uidensity=compact] #PersonalToolbar toolbarbutton {
  margin-top: 0px;
  /* Original: 2px */
}

/** Menu - Reduce Padding ***************************************************/

:root[uidensity=compact] menupopup>menuitem, menupopup>menu {
  padding-block: 0.1em !important;
  /* Original: 0.5em */
}